<p style="color: green"><%= notice %></p>

<% if flash[:unsuccesful] %>
  <div class="unsuccesful">
    <span style="color: red;"><%= flash[:unsuccesful] %></span>
  </div>
<% end %>

<h1>All rooms in our company</h1>

<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
    <p>
      <%= button_to "Enter this room", room_path(room), method: :get %>
    </p>
  <% end %>
</div>
<% if user_signed_in? %>
  <% if current_user.isAdmin? %>
    <%= link_to "Add new room", new_room_path %>
  <% end %>
<% end %>
