<p style="color: green"><%= notice %></p>

<% if flash[:unsuccesful] %>
  <div class="unsuccesful">
    <span style="color: red;"><%= flash[:unsuccesful] %></span>
  </div>
<% end %>

<div class="d-flex align-items-center justify-content-between">
  <h1>All rooms in our company</h1>

  <% if user_signed_in? %>
    <% if current_user.isAdmin? %>
      <%= button_to "Add new room", new_room_path, method: :get, class: "btn btn-success rounded mr-2" %>
    <% end %>
  <% end %>
</div>

<div id="rooms">
  <% @rooms.each do |room| %>
    <p>
      <%= render room %>
      <%= button_to "Enter this room", room_path(room), method: :get, class: "btn btn-primary rounded mr-2" %>
    </p>
    <hr style="border-top: 1px solid black;">
  <% end %>
</div>
<br>