<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  <% if current_user.isAdmin? %>
    <%= link_to "Edit this room", edit_room_path(@room) %>
    <br>
    <%= button_to "Destroy this room", @room, method: :delete %>
    <br>
  <% end %>
  <%= link_to "Back to rooms", rooms_path %>
</div>
