<% if flash[:success] %>
  <div class="success">
    <p style="color: green;"><%= flash[:success] %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert">
    <p style="color: orange;"><%= flash[:alert] %></p>
  </div>
<% end %>

<% if flash[:fail] %>
  <div class="fail">
    <p style="color: red;"><%= flash[:fail] %></p>
  </div>
<% end %>

<% if flash[:notfound] %>
  <div class="notfound">
    <p style="color: red;"><%= flash[:notfound] %></p>
  </div>
<% end %>

<div id="<%= dom_id card %>">
  <p>
    <strong>First Name:</strong>
    <%= card.user.first_name %>
    <br>
    <strong>Last Name:</strong>
    <%= card.user.last_name %>
    <br>
    <strong>Status:</strong>
    <% if card.status %>
      <span style="color: darkgreen;">Active</span>
    <% else %>
      <span style="color: red;">Disabled</span>
    <% end %>
    <br>
    <strong>User e-mail:</strong>
    <%= card.user.email %>
  </p>

</div>
