<%= form_with(model: card) do |form| %>
  <% if card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-check">
    <%= form.check_box :status, class: "form-check-input", id: "status-checkbox" %>
    <%= form.label :status, "Status", class: "form-check-label ml-2", for: "status-checkbox" %>
  </div>
  <br>
  <div>
    <%= form.submit class: "btn btn-success rounded mr-2" %>
  </div>
<% end %>
