<%= form_with(model: usage_history) do |form| %>
  <% if usage_history.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usage_history.errors.count, "error") %> prohibited this usage_history from being saved:</h2>

      <ul>
        <% usage_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :when_used, style: "display: block" %>
    <%= form.datetime_field :when_used %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
